nav ul#navmenu {
    margin: 0;
    border: 0 none;
    padding: 0;
    text-align: right;
    clear: both;
    list-style: none;
    z-index: 2900;
    position: relative;
    height: 25px
}

nav ul#navmenu li {
    margin: 0;
    border: 0 none;
    padding: 0;
    float: left;
    display: inline;
    list-style: none;
    position: relative
}

nav ul#navmenu ul {
    margin: 0;
    border: 0 none;
    padding: 0;
    list-style: none;
    display: none;
    background: #1c1714;
    border: 1px solid #55514f;
    position: absolute;
    top: 25px;
    left: 0
}

nav ul#navmenu ul:after {
    clear: both;
    display: block;
    font: 1px/0 serif;
    content: ".";
    height: 0;
    visibility: hidden
}

nav ul#navmenu ul li {
    width: 250px;
    float: left;
    display: block!important;
    display: inline
}

nav ul#navmenu a {
    padding: 0 10px;
    float: none!important;
    float: left;
    display: block;
    color: #000;
    text-align: left;
    font: 20px/25px Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
    height: auto!important;
    height: 1%
}

nav ul#navmenu a:hover,
nav ul#navmenu li:hover a,
nav ul#navmenu li.iehover a {
    background: #ccc;
    color: #120f0d
}

nav ul#navmenu li.parent a,
nav ul#navmenu li .selected {
    background: #ccc;
    color: #120f0d
}

nav ul#navmenu li:hover li a,
nav ul#navmenu li.iehover li a {
    float: none;
    text-transform: capitalize;
    padding-left: 10px;
    font: 10pt/30px Roboto, Helvetica, Arial, sans-serif;
    background: transparent;
    border-bottom: 1px solid #000;
    border-top: 1px solid #25201d;
    color: #fff
}

nav ul#navmenu li:hover li a:hover,
nav ul#navmenu li:hover li:hover a,
nav ul#navmenu li.iehover li a:hover,
nav ul#navmenu li.iehover li.iehover a {
    color: #120f0d;
    background-color: #ccc
}

ul#navmenu li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li a {
    display: none;
    visibility: hidden
}

ul#navmenu li:hover li:hover li a:hover,
ul#navmenu li:hover li:hover li:hover a,
ul#navmenu li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover a {
    color: #00827d
}

ul#navmenu li:hover li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li.iehover li a {
    display: none;
    visibility: hidden
}

ul#navmenu li:hover li:hover li:hover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover li a:hover {
    color: #00827d
}

nav ul#navmenu ul ul,
nav ul#navmenu ul ul ul {
    display: none;
    position: absolute;
    top: 0;
    border: 0;
    left: 250px
}

nav ul#navmenu li:hover ul ul,
nav ul#navmenu li:hover ul ul ul,
nav ul#navmenu li.iehover ul ul,
nav ul#navmenu li.iehover ul ul ul {
    display: none
}

nav ul#navmenu li:hover ul,
nav ul#navmenu ul li:hover ul,
nav ul#navmenu ul ul li:hover ul,
nav ul#navmenu li.iehover ul,
nav ul#navmenu ul li.iehover ul,
nav ul#navmenu ul ul li.iehover ul {
    display: block
}

#sub-nav {
    position: relative;
    z-index: 100
}

#sub-nav ul,
#sub-nav li {
    margin: 0;
    border: 0 none;
    padding: 0;
    position: relative;
    z-index: 110;
    list-style: none
}

#sub-nav .l1 {
    display: none
}

#sub-nav a {
    font-family: "BebasNeueRegular", "Georgia", "Times New Roman", Helvetica, Arial, sans-serif
}

#sub-nav span {
    display: inline;
    list-style: none;
    position: relative
}

#sub-nav .l2 a {
    text-decoration: none;
    display: block;
    color: #8e8b8a;
    font-size: 20px;
    line-height: 1.3em;
    padding: 0;
    padding-left: 10px;
    padding-top: 2px;
    border-bottom: 1px solid #55514f;
    margin: 0
}

#sub-nav .l2 a:hover,
#sub-nav .l2 a.selected {
    color: #fff;
    background-position: 195px -19px
}

#sub-nav .ul3 {
    padding-top: 10px;
    background: #ccc;
    padding-bottom: 10px;
    border-bottom: 1px solid #55514f
}

#sub-nav .l3 a,
#sub-nav .l3 a:link,
#sub-nav .l3 a:active,
#sub-nav .l3 a:visited {
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: #120f0d;
    background: #ccc;
    padding: 3px 0;
    padding-left: 20px;
    padding-right: 10px
}

#sub-nav .l3 a:hover,
#sub-nav .l3 a.selected {
    background-color: #fff;
    color: #120f0d
}

#sub-nav .l4 a,
#sub-nav .l4 a:link,
#sub-nav .l4 a:active,
#sub-nav .l4 a:visited {
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: #120f0d;
    background: #ccc;
    font: 12px/16px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 3px 0;
    padding-left: 30px;
    padding-right: 10px
}

#sub-nav .l4 a:hover,
#sub-nav .l4 a.selected {
    background-color: #eee
}

/ * FOOTER NAV */ #footer ul#navmenu {
    margin: 0;
    padding: 0;
    padding-left: 30px
}

#footer ul#navmenu li {
    float: left;
    margin: 0;
    font-size: 14px;
    line-height: 2em;
    list-style: none;
    padding: 0;
    padding-right: 60px
}

#footer ul#navmenu li ul li {
    float: none;
    font-size: 12px;
    line-height: 1.3em;
    list-style-type: disc;
    margin-left: 12px;
    padding: 0
}

#footer ul#navmenu ul {
    margin: 0;
    padding: 0;
    padding-bottom: 15px
}

#footer ul#navmenu ul li {}

#footer ul#navmenu a {}

#footer ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {}

ul#navmenu li.-hide-,
ul li.-hide- {
    display: none!important
}
